$space-large: 16px;
$space-medium: 8px;
$space-small: 4px;

.feed {
	color: #fff;
	background-color: #131723;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-bottom: 2px solid gray;
	padding: $space-large;

	.leftText {
		position: absolute;
		left: 0;
		top: 0;
		padding: $space-large;
	}
}

.flex {
	display: flex;
	align-items: flex-start;
}

.table {
	border-collapse: collapse;
	width: 50%;

	th,
	td {
		text-align: right;
		padding-right: 10%;
		width: 33.33%;
	}

	th {
		color: #6b707b;
		padding-top: $space-medium;
		padding-bottom: $space-medium;
	}

	td {
		font-family: "Courier New", Courier, monospace;
		font-weight: 700;
		text-align: right;
		padding-right: 10%;
		padding-top: $space-small;
		padding-bottom: $space-small;
	}

	.headerRow {
		border-bottom: 1px solid gray;
	}

	.cellBidPrice {
		color: rgb(61, 168, 97);
	}

	.cellAskPrice {
		color: rgb(204, 33, 33);
	}

	.tr {
		position: relative;

		.depthLevelBid,
		.depthLevelAsk {
			width: auto;
			position: absolute;
			bottom: 0;
			top: 0;
			padding: 0;
		}

		.depthLevelBid {
			background-color: rgba(18, 110, 26, 0.356);
			left: 100%;
			right: 0;
		}

		.depthLevelAsk {
			background-color: rgba(119, 15, 76, 0.295);
			left: 0;
			right: 100%;
		}
	}
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: $space-large;

	button {
		background-color: #6515d0;
		color: #fff;
		padding: 12px $space-large;
		width: 148px;
		font-size: 14px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}
}
