$space-large: 16px;
$space-medium: 8px;
$space-small: 4px;
$layout-medium: 768px;
$color-text-toned-down: #6b707b;

.h1 {
	margin: 0;
	font-size: 16px;
	padding: $space-large;
	border-bottom: 2px solid gray;
}

.feed {
	color: #fff;
	background-color: #10141e;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.spreadSection {
	display: flex;
	justify-content: center;
	align-items: center;
	order: 2;
	width: 100%;
	padding: $space-large;
}

.spread {
	color: $color-text-toned-down;
}

.tableBids {
	order: 3;
	direction: rtl;

	thead {
		display: none;
	}

	tbody {
		direction: ltr;
	}
}

.tableAsks {
	order: 1;
}

.tableBids,
.tableAsks {
	border-collapse: collapse;
	width: 100%;

	th,
	td {
		text-align: right;
		padding-right: 10%;
		width: 33.33%;
	}

	th {
		color: $color-text-toned-down;
		padding-top: $space-medium;
		padding-bottom: $space-medium;
	}

	td {
		font-family: "Courier New", Courier, monospace;
		font-weight: 700;
		text-align: right;
		padding-right: 10%;
		padding-top: $space-small;
		padding-bottom: $space-small;
	}

	.headerRow {
		border-bottom: 1px solid gray;
	}

	.cellBidPrice {
		color: #0d7863;
	}

	.cellAskPrice {
		color: #9f2b2f;
	}

	.tr {
		position: relative;

		.depthLevelBid,
		.depthLevelAsk {
			width: auto;
			position: absolute;
			bottom: 0;
			top: 0;
			padding: 0;
		}

		.depthLevelBid {
			background-color: rgba(0, 132, 100, 0.3);
			left: 100%;
			right: 0;
		}

		.depthLevelAsk {
			background-color: rgba(160, 55, 55, 0.3);
			left: 0;
			right: 100%;
		}
	}
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: $space-large;
}

.buttonDefault {
	background-color: #6515d0;
	color: #fff;
	padding: 12px $space-large;
	width: 148px;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.connectionWarning {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 80px 32px 0;
	padding: $space-large;
	border: 1px solid #ff7575;
	border-radius: 3px;
	background-color: #d47878;

	h3 {
		margin: 0 0 $space-medium 0;
	}
}

@media (min-width: $layout-medium) {
	.h1 {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	.spreadSection {
		order: 1;
	}

	.tableBids {
		order: 2;
		direction: ltr;

		thead {
			display: table-header-group;
		}
	}

	.tableAsks {
		order: 3;
	}

	.tableBids,
	.tableAsks {
		width: 50%;
	}
}
